/* color palette */
:root {
  --color-gelo: #f8f9fa;
  --color-preto: #000000;
  --color-laranja: #ff7f11;
  --color-amarelo-alaranjado: #ffc107;

  --color-background: var(--color-gelo);
  --image-background: url('../assets/solar-panels-bg.jpg');
  --color-text: var(--color-preto);
  --color-highlight: var(--color-laranja);
  --color-highlight-hover: var(--color-amarelo-alaranjado);
}

 @media (prefers-color-scheme: dark) {
  :root {
    --image-background: url('../assets/solar-panels-bg.jpg');
    --color-background: var(--color-preto);
    --color-text: var(--color-gelo);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);

  background-image: var(--image-background);
  background-size: cover;
  background-repeat: no-repeat;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}